#background {
  width: 100%;
  height: 100%;
  fill: black;
}

.time {
  font-size: 48;
  font-family: System-Bold;
  font-weight: bold;
  fill: white;
  text-anchor: middle;
  text-length: 10;
}

.date {
  font-size: 24;
  font-family: System-Regular;
  font-weight: regular;
  fill: #a0a0a0;
  text-anchor: middle;
  text-length: 20;
}

.separator {
  fill: #c0c0c0;
}

.heartRate {
  font-size: 28;
  font-family: System-Regular;
  font-weight: regular;
  fill: #ff4444;
  text-anchor: middle;
  text-length: 10;
}

.banner {
  font-size: 20;
  font-family: System-Regular;
  font-weight: regular;
  fill: #888888;
  text-anchor: middle;
  text-length: 30;
}

.clickOverlay {
  fill: #000000;
  opacity: 0;
  pointer-events: all;
}
